@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "reset.css";

.page {
}
.page__container {
	padding: 50px;
	line-height: 1.5;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

h4 {
	font-size: 18px;
	font-weight: 500;
}

.page__container article:not(:last-child){
	margin-bottom: 30px;
}
